<h1>Thank you for registering</h1>

<p>You can login anytime at our home <%= link_to "page", root_url %>. Search for books you need <%= link_to "here", search_url %>,
  and of course <%= link_to "post books", new_used_books_url %> you wish to sell (requires login to use).
  </p>