<%= form_tag forgot_password_path do -%>
<p class="someBottomMargin">
  <b><%= label_tag :email, 'Your email address:' %></b><br />
  <%= text_field_tag :email, '', :class => 'text_input' %>
</p>
<p>
  <%= submit_tag 'Receive a new password' %>
</p>
<% end -%>