<h1>New ticket</h1>
<h3 class="subHeader">
  Fill out the form below to submit a ticket. Note that all the fields are required.
</h3>
<%= form_for(@ticket) do |f| %>
  <%= render :partial => "ticket", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tickets_path %>