<h1>Support</h1>

<p>
  Welcome to the support section. This is a great place to start, if you are having some trouble. Have a look through the <%= link_to "Frequently Asked Questions", faqs_path %> section,
  to see if your question has been answered. If not, feel free to forward us a ticket, and we will respond within two business
  days to help you with your problem.
</p>

<h3 class="subHeader">Support Sections</h3>
<ul>
  <li><%= link_to "Frequently Asked Questions (FAQ)", faqs_path %></li>
  <li><%= link_to "Submit a new ticket", new_ticket_path %></li>
</ul>